---
title: PhysioBlu | Christa
---

<% member = @app.data.members.christa %>

<header class="header">
  <section class="container">
    <h1><%= "#{member.first_name} #{member.last_name}" %></h1>
    <img class="team" src="/images/<%= member.first_name.downcase %>_128.png" alt="<%= member.first_name %>"/>
    <p><%= member['title'] %></p>
  </section>
</header>

<div class="container">
  <h2>Über mich</h2>
  <p>
    Aufgewachsen in Uettligen, lebe ich seit 2004 in der Region Biel und nun seit zwei Jahren mit meinem Mann und den drei Kindern in Brügg.
  </p>
  <p>
    Meine freie Zeit verbringe ich mit Volleyball, bin mit der Familie zu Fuss oder auf dem Bike gerne draussen unterwegs und werke in unserem Garten.
  </p>
    Ich habe 2005 die Physiotherapieschule am Inselspital abgeschlossen, danach vier Jahre in der Klinik Linde gearbeitet und seitdem in verschiedenen Praxen in der Stadt Biel.
    Seit September 2020, bin ich zusammen mit Stefano in der eigenen Praxis.
  </p>

  <div class="team">
    <h3>Kontakt</h3>
    <ul>
      <li>
        <a href="mailto:<%= member['email'] %>">
          <i class="gg-mail"></i> <%= member['email'] %>
        </a>
      </li>
      <li>
        <a href="tel:<%= member['phone'].gsub(' ', '-') %>">
          <i class="gg-phone"></i> <%= member['phone'] %>
        </a>
      </li>
    </ul>
  </div>
</div>

<section class="container">
  <hr>
  <a class="button" href="<%= url_for('/') %>">Zurück</a>
</section>