---
title: Stefano Scomazzon
---
<% member = @app.data.members.stefano %>

<header class="header">
  <section class="container">
    <h1><%= "#{member.first_name} #{member.last_name}" %></h1>
    <img class="team" src="/images/<%= member.first_name.downcase %>_200.jpg" alt="<%= member.first_name %>"/>
    <p><%= member['title'] %></p>
  </section>
</header>

<div class="container">
  <h2>Über mich</h2>
  <p>Italiano della regione di Venezia, nel 1986 sono nato a Bassano del Grappa, dove sono cresciuto.  Dopo il liceo Scientifico mi sono laureato in Fisioterapia nel 2008 all’Università di Padova.</p>

  <p>Fin dal principio ho lavorato molto intensamente come libero professionista seguendo atleti anche professionisti, persone con dolori e che hanno subito traumi o interventi chirurgici.</p>

  <p>Sempre molto curioso e appassionato di conoscere come funziona il corpo umano e come poterlo aiutare, dopo la laurea ho continuato la mia formazione specializzandomi in Terapia Manuale, frequentando differenti scuole di pensiero (Italiana - Fascial Manipulation Stecco, Australiana - Maitland, Americana - Strain/Counterstrain).</p>

  <p>Ho avuto l’opportunità di assistere ad oltre 50 interventi di chirurgia ortopedica in sala operatoria con un’equipe ortopedica d’alto livello con la quale collaboravo.</p>

  <p>Ho inoltre approfondito gli studi di Anatomia Umana direttamente su cadavere.</p>

  <p>Mi sono specializzato sui disturbi della spalla e dal braccio e le problematiche posturali.</p>

  <p> La curiosità nonostante ciò’ non si è esaurita e notando nella pratica quotidiana i limiti della “medicina classica” ho approfondito le mie conoscenze con la Medicina Tradizionale Cinese e la Kinesiologia terminando la formazione triennale nel 2017 in Italia.</p>

  <p>Proprio in quell’anno la vita mi ha portato in Svizzera…per amore. Dal 2019 siamo felicemente in tre in casa!</p>

  <p>Qui a Biel la mia curiosità si è per un po’ spostata sulla nuova cultura in cui mi sono ritrovato a vivere e lavorare per cui ho dedicato le mie energie ad apprendere prima il tedesco e poi il francese.</p>

  <p>Più’ ne sai e più’ vorresti saperne…e quindi appena le lingue me lo hanno permesso ho continuato ad approfondire la relazione tra le emozioni e i sintomi nel corpo dapprima con il “Metodo Rosen” (Svizzera - Italia), poi con la “scuola del Sintomo” basata sulla nuova medicina germanica e le 5 Leggi Biologiche, che sto tutt’ora frequentando.</p>

  <p>Ma la vita non è solo lavoro e quando non lavoravo o studiamo mi piaceva molto giocare a calcio che ho praticato a livello agonistico fino ai 25 anni. Poi è iniziata la grande passione per la Capoeira che coltivo tutt’oggi assieme alla mia compagna. Tra questi sport ci sono sempre stati momenti per lo snowboard e per il tennis tavolo.</p>

  <p>Un'altra grande passione sono i viaggi per conoscere culture e stili di vita differenti. Sono sempre stati grandi fonti di ispirazione e cambiamenti nel mio percorso di vita.</p>

  <p>Da novembre 2020 ricevo come libero profesionista in PhysioBlu.</p>

  <div class="team">
    <h3>Kontakt</h3>
    <ul>
      <li>
        <a href="mailto:<%= member['email'] %>">
          <i class="gg-mail"></i> <%= member['email'] %>
        </a>
      </li>
      <li>
        <a href="tel:<%= member['phone'].gsub(' ', '-') %>">
          <i class="gg-phone"></i> <%= member['phone'] %>
        </a>
      </li>
    </ul>
  </div>
</div>

<section class="container">
  <hr>
  <a class="button" href="<%= url_for('/') %>">Zurück</a>
</section>