<!doctype html>
<html>
  <head>
    <% if ENV["GA"] -%>
    <%= partial "partials/google_analytics", locals: {ga_code: ENV["GA"]} %>
    <% end -%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="PhysioBlu, Physiotherapie Biel/Bienne">
    <meta name="subject" content="Physiotherapie, Sportphysiotherapie, Therapie, Gesundheit, Training">
    <meta name="author" content="PhysioBlu">
    <title><%= current_page.data.title || "PhysioBlu" %></title>
    <link rel="icon" href="images/favicon.ico"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"/>
    <link rel="stylesheet" href="https://css.gg/css?=|mail|phone">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <main class="wrapper">
      <nav class="navigation">
        <section class="container">
          <a class="navigation-title" href="/">
            <img class="img" src="/images/physioblu.svg" height="30" alt="PhysioBlu" title="PhysioBlu">
          </a>
          <ul class="navigation-list float-right">
            <li class="navigation-item main">
              <a class="navigation-link" href="#team">Team</a>
            </li>
            <li class="navigation-item main">
              <a class="navigation-link" href="#contact">Kontakt</a>
            </li>
          </ul> 
        </section>
      </nav>
      <%= yield %>
      <footer class="footer">
        <section class="container">
          <hr />
          <p class="copyright">
             &copy; <%= Time.now.year %> PhysioBlu
          </p>
        </section>
      </footer>
    </main>
    <!-- Leaflet for OpenStreetmap integration -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <%= javascript_include_tag "site" %>
  </body>
</html>
