<!doctype html>
<html>
  <head>
    <% if ENV["GA"] -%>
    <%= partial "partials/google_analytics", locals: {ga_code: ENV["GA"]} %>
    <% end -%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= AppHelper.page_title(current_page) || "PhysioBlu" %></title>
    <%= partial "partials/seo" %>
    <link rel="icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"/>
    <link rel="stylesheet" href="https://css.gg/css?=|mail|phone">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <main class="wrapper">
      <nav class="navigation">
        <a href="<%= "/#{I18n.locale}" %>" class="logo")>
          <img src="/images/physioblu.svg" alt="PhysioBlu" title="PhysioBlu">
        </a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <li><%= link_to t("team"), "/#{I18n.locale}", fragment: "team" %></li>
          <li><a href="<%= url_for("/philosophie/index.html") %>"><%= t "phylosophie" %></a></li>
          <li><a href="<%= url_for("/preise/index.html") %>"><%= t "pricing" %></a></li>
          <li><%= link_to t("contact"), "/#{I18n.locale}", fragment: "contact" %></li>
        </ul>
      </nav>
      <%= yield %>
      <footer class="footer">
        <section class="container">
          <hr />
          <span class="copyright">
             &copy; <%= Time.now.year %> PhysioBlu
          </span>
          <span class="float-right">
            <%= t "languages" %>:
            <% langs.each_with_index do |lang, i| %>
              <%= link_to lang, "/#{lang}" %> <%= "|" unless langs.size == i + 1  %>
            <% end %>
          </span>
        </section>
      </footer>
    </main>
    <!-- Leaflet for OpenStreetmap integration -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <%= yield_content :scripts %>
  </body>
</html>
