<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <% if ENV["GA"] -%>
    <%= partial "partials/google_analytics", locals: {ga_code: ENV["GA"]} %>
    <% end -%>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'nonce-4AEemGb0xJptoIGFP3Nd' cdn.jsdelivr.net fonts.googleapis.com cdnjs.cloudflare.com unpkg.com css.gg *.netlify.app; script-src 'nonce-4AEemGb0xJptoIGFP3Nd' *.netlify.app www.google-analytics.com; font-src 'self' fonts.gstatic.com fonts.googleapis.com cdn.jsdelivr.net 'unsafe-inline'; img-src 'self' cloudfront.net *.cloudfront.net unpkg.com api.mapbox.com www.googletagmanager.com www.google-analytics.com">
    <title><%= AppHelper.page_title(current_page) || "PhysioBlu" %></title>
    <%= partial "partials/seo" %>
    <link rel="icon" href="/images/favicon.ico"/>
    <link rel="canonical" href="https://physioblu.ch"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" nonce="4AEemGb0xJptoIGFP3Nd" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" nonce="4AEemGb0xJptoIGFP3Nd" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" nonce="4AEemGb0xJptoIGFP3Nd" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css" nonce="4AEemGb0xJptoIGFP3Nd" />
    <link rel="stylesheet" href="https://css.gg/css?=info|mail|phone" nonce="4AEemGb0xJptoIGFP3Nd" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" nonce="4AEemGb0xJptoIGFP3Nd" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <%= stylesheet_link_tag "site", nonce: "4AEemGb0xJptoIGFP3Nd" %>
    <%= yield_content :header %>
  </head>
  <body>
    <main class="wrapper">
      <nav class="navigation">
        <a href="<%= "/#{I18n.locale}" %>" class="logo" title="PhysioBlu">
          <img src="/images/physioblu.svg" alt="PhysioBlu" title="PhysioBlu">
        </a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <li>
            <%= link_to t("team"), "/#{I18n.locale}", fragment: "team", title: t("team") %>
          </li>
          <li>
            <a href="<%= url_for("/philosophy/index.html") %>" title="<%= t "philosophy" %>"><%= t "philosophy" %></a>
          </li>
          <li>
            <a href="<%= url_for("/impressions/index.html") %>" title="<%= t "impressions" %>"><%= t "impressions" %></a>
          </li>
          <li>
            <a href="<%= url_for("/pricing/index.html") %>" title="<%= t "pricing" %>"><%= t "pricing" %></a>
          </li>
          <li>
            <%= link_to t("contact"), "/#{I18n.locale}", fragment: "contact", title: t("contact") %>
          </li>
          <li>
            <%= link_to t("contact"), "/#{I18n.locale}", fragment: "contact", title: t("contact") %>
          </li>
          <li>
            <div class="dropdown">
              <a class="dropbtn" herf="#"><%= t "languages" %></a>
              <div class="dropdown-content">
                <span><%= @app.data.locales[lang][:name] %></span>
                <% language_options.each do |optlang| %>
                  <a href="<%= url_for(AppHelper.page_reference(current_page), locale: optlang[:lang]) %>" title="<%= optlang[:title] %>"><%= optlang[:title] %></a>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <%= yield %>
      <footer class="footer">
        <section class="container">
          <hr />
          <span class="copyright">
             &copy; <%= Time.now.year %> PhysioBlu
          </span>
          <span class="float-right">
            <%= t "languages" %>:
            <%= partial "partials/language_links" %>
          </span>
        </section>
      </footer>
    </main>
    <!-- Leaflet for OpenStreetmap integration -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" nonce="4AEemGb0xJptoIGFP3Nd" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <%= yield_content :scripts %>
  </body>
</html>
