<% langs.each_with_index do |language, i| -%>
  <% if lang != language -%>
    <a href="<%= url_for(AppHelper.page_reference(current_page), locale: language) %>" title="<%= @app.data.locales[language][:name] %>"><%= language %></a>
  <% else -%>
    <%= language %>
  <% end -%>
  <%= "|" unless langs.size == i + 1  %>
<% end -%>