
<header class="header">
  <section class="container">
    <h1><%= "#{member.first_name} #{member.last_name}" %></h1>
    <img class="team" src="/images/<%= member.first_name.downcase %>_200.jpg" alt="<%= member.first_name %>"/>
    <p><%= member['title'][lang] %></p>
  </section>
</header>

<div class="container">
  <h2><%= t "about_me" %></h2>


  <% if member.bio[lang] -%>
    <%= Markdown.renderer.render(member.bio[lang]).html_safe %>
  <% else -%>
    <div class="box info">
      <i class="gg-info" aria-hidden="true">&nbsp;</i>
      <%= t "translation_not_available" %>
    </div>
  <% end %>

  <div class="team">
    <h3><%= t "contact" %></h3>
    <ul>
      <li>
        <a href="mailto:<%= member['email'] %>">
          <i class="gg-mail"></i> <%= member['email'] %>
        </a>
      </li>
      <li>
        <a href="tel:<%= member['phone'].gsub(' ', '-') %>">
          <i class="gg-phone"></i> <%= member['phone'] %>
        </a>
      </li>
    </ul>
  </div>
</div>

<section class="container">
  <hr>
  <a class="button" href="<%= url_for('/') %>"><%= t "back" %></a>
</section>
