

<div class="container">
  <h1 class="title"><%= "#{member.first_name} #{member.last_name}" %></h1>

  <div class="team">
    <img src="/images/<%= member.first_name.downcase %>_128.png" alt="<%= member.first_name %>"/>
    <p><%= member['title'] %></p>

    <h3>Kontakt</h3>
    <ul>
      <li>
        <a href="mailto:<%= member['email'] %>">
          <i class="gg-mail"></i> <%= member['email'] %>
        </a>
      </li>
      <li>
        <a href="tel:<%= member['phone'].gsub(' ', '-') %>">
          <i class="gg-phone"></i> <%= member['phone'] %>
        </a>
      </li>
    </ul>
  </div>
</div>

<section class="container">
  <hr>
  <a class="button" href="/">Zurück</a>
</section>